<div class="header-hp">
  <span class="logo">BlueCheck</span>
</div>

<div class="hero-container">
  <div class="hero-content">
    <h1>Fatores de Risco para o Cancro da Próstata</h1>
    <p class="subtitle"><strong>Prevenir é o primeiro passo para cuidar de si.</strong></p>

    <div class="risk-section">
      <div class="risk-card">
        <img src="idade.png" alt="Idade" />
        <h3>Idade</h3>
        <p>O risco aumenta significativamente após os 50 anos.</p>
      </div>
      <div class="risk-card">
        <img src="historico.png" alt="Histórico Familiar" />
        <h3>Histórico Familiar</h3>
        <p>Ter um familiar direto com cancro da próstata aumenta o risco.</p>
      </div>
      <div class="risk-card">
        <img src="ethnicity.png" alt="Grupo Étnico" />
        <h3>Grupo Étnico</h3>
        <p>Alguns grupos étnicos têm maior predisposição genética.</p>
      </div>
    </div>
    <button class="login-button" (click)="goToLogin()">
      <i class="lucide lucide-log-in"></i> Login
    </button>
    <p class="footer-text">
     <strong>Bem-vindo ao <span class="highlight">BlueCheck</span>: A sua saúde, A nossa prioridade.</strong> 
    </p>
  </div>
</div>
